*.un~
*~
*.orig
**.log
**.pid
*.db
**.pyc
**.pyc.*
*.pem
*.rej
.installed.cfg
__minitage__*
xcuserdata/
deployment/profiles/*.log
env/*
develop-eggs
downloads
local_settings.py
log
parts
tmp
.*.sw*
.DS_Store
tmp/*
inensu/closetswap/static/.sass-cache
inensu/closetswap/static/config.rb
build/
inensu/closetswap/fixtures/auth.json
selenium/chrome
selenium/ie7
selenium/ie8
selenium/firefox
selenium/old
dump.rdb
